
<h2>Schedule</h2>

<div class="row-fluid">
    <div class="span8">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Practice</td>
                    <td>May 13, 2012</td>
                    <td>6:30PM</td>
                    <td><a href="#">Swanson MS</a></td>
                </tr>
                <tr>
                    <td>Practice</td>
                    <td>May 14, 2012</td>
                    <td>6:30PM</td>
                    <td><a href="#">Swanson MS</a></td>
                </tr>
                <tr>
                    <td>Sharks vs. Ravens</td>
                    <td>May 15, 2012</td>
                    <td>7:30PM</td>
                    <td><a href="#">Yorktown HS</a></td>
                </tr>
                <tr>
                    <td>Sharks vs. Baltimore Stars</td>
                    <td>May 17, 2012</td>
                    <td>8:00PM</td>
                    <td><a href="#">Yorktown HS</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>