@{
    ViewBag.Title = "Index";
}

<h2>Messages</h2>

<div class="row-fluid">
    <div class="span10">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Sent To</th>
                    <th>Send Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">Lineups for Saturday</a></td>
                    <td>Justin Michelotti, Jeff Smith, Joey Johnson, and 6 others</td>
                    <td>May 13, 2012 at 6:33PM</td>
                </tr>
                <tr>
                    <td><a href="#">May practice schedule</a></td>
                    <td>Justin Michelotti, Jeff Smith, Joey Johnson, and 6 others</td>
                    <td>May 14, 2012 at 5:22PM</td>
                </tr>
                <tr>
                    <td><a href="#">Game Sunday</a></td>
                    <td>Justin Michelotti, Jeff Smith, Joey Johnson, and 6 others</td>
                    <td>May 15, 2012 at 4:42PM</td>
                </tr>
                <tr>
                    <td><a href="#">No practice Monday</a></td>
                    <td>Justin Michelotti, Jeff Smith, Joey Johnson, and 6 others</td>
                    <td>May 16, 2012 at 7:21PM</td>
                </tr>
                <tr>
                    <td><a href="#">Nice win!</a></td>
                    <td>Justin Michelotti, Jeff Smith, Joey Johnson, and 6 others</td>
                    <td>May 17, 2012 at 12:12PM</td>
                </tr>
                <tr>
                    <td><a href="#">Game availability</a></td>
                    <td>Justin Michelotti, Jeff Smith, Joey Johnson, and 6 others</td>
                    <td>May 18, 2012 at 11:11PM</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>